body {
    font-family: Roboto;
    background-color: #E0E0E0;
    font-size:2em;
}

.row {
    margin-top: 45px;
    display: flex;
    justify-content: space-between;
}

a {
    color: white;
    height: 100%;
}

.form-control{
    font-size:1.5em;
    height:auto;
}

text{
    font-size: initial;
}

ul {
    height: 100%
}

a:hover {
    background-color: white;
    color: cornflowerblue;
}

li {
    display: flex;
}

#form1 {
    display: flex;
    width: 100%;
}

h1 {
    color: white;
}

.userTitle {
    font-size: 30px;
}
#mainNav {
    background-color: #34495e;
}

.btn-primary {
    background-color: #34495e;
}

.card {
    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
    transition: all 0.3s cubic-bezier(.25,.8,.25,1);
    justify-content: space-between;
    min-width: unset;
    display: flex;
    margin: 10px;
    overflow: hidden;
}

    .card:hover {
        box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
    }

    #bar{
        margin-top: 30px;
    }

    .btn-primary{
        margin: 10px;
    }

    table{
        font-size: 15px;
    }

    .expandedList{
        height:inherit;
    }

    .minifiedList{
        height:300px;
    }